@charset "UTF-8";
body {
	margin: 0;
}
h1 {
	margin: 0;
}
h2 {
	color: red;
	border-bottom: teal;
	border-width: 0 0 2px 0;
	border-style: none none solid none;
}
caption {
    text-align: center;
}
#navbar {
	background-color: yellow;
}
#content {
	background-color: silver;
	padding: 0 1em 0 2em;
}
#legend {
	border-color: black;
	border-width: 1px;
	border-style: solid;
	background-color: white;
}
.btn-toolbar {
	margin-top: 1em;
	margin-bottom: 1em;
}
